TEST_ENV=qa
BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://jsonplaceholder.typicode.com
HEADLESS=true
TRACE_MODE=retain-on-failure
VIDEO_MODE=retain-on-failure
SCREENSHOT_MODE=only-on-failure
WORKERS=3
